/*Page Colour*/
body {
    background-color: #A6BB8D;
}

/* Dotted Divider Styling */       
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EAE7B1;
    border-width: 7px;
    width: 5%;
}

/* Large Heading */
h1 {
    color:#609966;
    font-family: 'Times New Roman', Times, serif;
}  

/* Sub-Heading */
h3 {
    color: #609966;
}


