/***************tag selectors**********/
body{
    background-color: blueviolet;
}

h1{
    color: red;
}

/*
img{
    background-color: red;
}
*/

/****************class selectors*************/

.bacon {
    background-color: greenyellow;
}

.broccoli {
    background-color: red;
}