/***************tag selectors**********/
body{
    background-color: blueviolet;
}

h1{
    color: red;
}

img{
    border-radius: 100%;
}
img:hover{
    background-color: blue;
}


/****************class selectors*************/

.bacon {
    background-color: greenyellow;
}

.broccoli {
    background-color: red;
}

.chant {
    color: pink
}

/****************ID selectors*************/



#header {
    color: gold
}

#super {
    size: 50px;
    color: mediumspringgreen;
}